{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https",
    "http"
  ],
  "swagger": "2.0",
  "info": {
    "description": "description: api description",
    "title": "Hepic API documentation",
    "version": "1.2.1"
  },
  "host": "telco-capture01.live.ml01.sipgate.net",
  "basePath": "/api/v3",
  "paths": {
    "/admin/profiles": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns data from server",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin"
        ],
        "operationId": "ListProfiles",
        "responses": {
          "201": {
            "description": "HepsubSchema",
            "schema": {
              "$ref": "#/definitions/HepsubSchema"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/advanced": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns advanced setting of user",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Advanced"
        ],
        "operationId": "ListAdvancedSettings",
        "responses": {
          "201": {
            "description": "GlobalSettingsStructList",
            "schema": {
              "$ref": "#/definitions/GlobalSettingsStructList"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Advanced"
        ],
        "operationId": "AddAdvanced",
        "parameters": [
          {
            "type": "object",
            "description": "GlobalSettingsStruct parameters",
            "name": "GlobalSettingsStruct",
            "in": "body",
            "required": true,
            "schema": {
              "description": "GlobalSettingsStruct parameters",
              "type": "object",
              "$ref": "#/definitions/GlobalSettingsStruct"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "GlobalSettingsCreateSuccessfulResponse",
            "schema": {
              "$ref": "#/definitions/GlobalSettingsCreateSuccessfulResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/advanced/{uuid}": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Get mapping against id and profile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Advanced"
        ],
        "operationId": "AdvancedAgainstUUID",
        "parameters": [
          {
            "type": "string",
            "description": "UUID of mapping",
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "description": "UUID of mapping",
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "GlobalSettingsStruct",
            "schema": {
              "$ref": "#/definitions/GlobalSettingsStruct"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Get mapping against id and profile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Advanced"
        ],
        "operationId": "updateAdvanced",
        "parameters": [
          {
            "type": "string",
            "description": "UUID of mapping",
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "description": "UUID of mapping",
              "type": "string"
            }
          },
          {
            "type": "object",
            "description": "GlobalSettingsStruct parameters",
            "name": "GlobalSettingsStruct",
            "in": "body",
            "required": true,
            "schema": {
              "description": "GlobalSettingsStruct parameters",
              "type": "object",
              "$ref": "#/definitions/GlobalSettingsStruct"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "GlobalSettingsUpdateSuccessfulResponse",
            "schema": {
              "$ref": "#/definitions/GlobalSettingsUpdateSuccessfulResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Get mapping against id and profile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Advanced"
        ],
        "operationId": "DeleteSettings",
        "parameters": [
          {
            "type": "string",
            "description": "UUID of mapping",
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "description": "UUID of mapping",
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "GlobalSettingsDeleteSuccessfulResponse",
            "schema": {
              "$ref": "#/definitions/GlobalSettingsDeleteSuccessfulResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/agent/search/{guid}/{type}": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Get agent by guid and type",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Agent"
        ],
        "operationId": "GetAgentSearchByTypeAndUUID",
        "parameters": [
          {
            "type": "string",
            "description": "guid of agent",
            "name": "guid",
            "in": "path",
            "required": true,
            "schema": {
              "description": "guid of agent",
              "type": "string"
            }
          },
          {
            "type": "string",
            "description": "type of agent",
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "description": "type of agent",
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "AgentsLocationList",
            "schema": {
              "$ref": "#/definitions/AgentsLocationList"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/agent/subscribe": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Get agent",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Agent"
        ],
        "operationId": "ListAgents",
        "responses": {
          "201": {
            "description": "AgentsLocationList",
            "schema": {
              "$ref": "#/definitions/AgentsLocationList"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/agent/subscribe/{uuid}": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns data from server",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Agent"
        ],
        "operationId": "UpdateAgent",
        "responses": {
          "201": {
            "description": "AgentsLocationList",
            "schema": {
              "$ref": "#/definitions/AgentsLocationList"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Update Agent by uuid",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Agent"
        ],
        "operationId": "agentsSubUpdateAgentsubAgainstGUID",
        "parameters": [
          {
            "type": "string",
            "description": "guid of agent",
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "description": "guid of agent",
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "AgentLocationUpdateSuccessResponse",
            "schema": {
              "$ref": "#/definitions/AgentLocationUpdateSuccessResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns data from server",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Agent"
        ],
        "operationId": "DeleteAgent",
        "parameters": [
          {
            "type": "string",
            "description": "UUID of agent",
            "name": "type of agent",
            "in": "path",
            "required": true,
            "schema": {
              "description": "UUID of agent",
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "AgentLocationDeleteSuccessResponse",
            "schema": {
              "$ref": "#/definitions/AgentLocationDeleteSuccessResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/agent/type/{type}": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Get agent",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Agent"
        ],
        "operationId": "GetAgentByType",
        "parameters": [
          {
            "type": "string",
            "description": "type of agent",
            "name": "type of agent",
            "in": "path",
            "required": true,
            "schema": {
              "description": "type of agent",
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "AgentsLocationList",
            "schema": {
              "$ref": "#/definitions/AgentsLocationList"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/agentsub/protocol": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns data from server",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Agent"
        ],
        "operationId": "AddAgentsub",
        "parameters": [
          {
            "type": "object",
            "description": "AgentsLocation parameters",
            "name": "AgentsLocation",
            "in": "body",
            "required": true,
            "schema": {
              "description": "AgentsLocation parameters",
              "type": "object",
              "$ref": "#/definitions/AgentsLocation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "AgentLocationCreateSuccessResponse",
            "schema": {
              "$ref": "#/definitions/AgentLocationCreateSuccessResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/auth": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns a JWT Token and UUID attached to user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Users"
        ],
        "operationId": "userLogin",
        "responses": {
          "201": {
            "description": "UserLoginSuccessResponse",
            "schema": {
              "$ref": "#/definitions/UserLoginSuccessResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      },
      "post": {
        "description": "Returns a JWT Token and UUID attached to user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Users"
        ],
        "operationId": "userLogin",
        "parameters": [
          {
            "type": "object",
            "description": "UserLogin parameters",
            "name": "UserLogin",
            "in": "body",
            "required": true,
            "schema": {
              "description": "UserLogin parameters",
              "type": "object",
              "$ref": "#/definitions/UserLogin"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "UserLoginSuccessResponse",
            "schema": {
              "$ref": "#/definitions/UserLoginSuccessResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/auth/type/list": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns data from server",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Users"
        ],
        "operationId": "SuccessResponse",
        "responses": {
          "200": {
            "description": "SuccessResponse",
            "schema": {
              "$ref": "#/definitions/SuccessResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/call/recording/data": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Recording"
        ],
        "operationId": "GetRecordingData",
        "parameters": [
          {
            "type": "object",
            "description": "SearchObject parameters",
            "name": "SearchObject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "SearchObject parameters",
              "type": "object",
              "$ref": "#/definitions/SearchCallData"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "ListUsers",
            "schema": {
              "$ref": "#/definitions/ListUsers"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/call/recording/download/{type}/{uuid}": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Recording"
        ],
        "operationId": "GetRecordingPlayDataByType",
        "parameters": [
          {
            "type": "object",
            "description": "SearchObject parameters",
            "name": "SearchObject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "SearchObject parameters",
              "type": "object",
              "$ref": "#/definitions/SearchCallData"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "ListUsers",
            "schema": {
              "$ref": "#/definitions/ListUsers"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/call/recording/info/{uuid}": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Recording"
        ],
        "operationId": "GetRecordingInfoDataByType",
        "parameters": [
          {
            "type": "object",
            "description": "SearchObject parameters",
            "name": "SearchObject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "SearchObject parameters",
              "type": "object",
              "$ref": "#/definitions/SearchCallData"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "ListUsers",
            "schema": {
              "$ref": "#/definitions/ListUsers"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/call/recording/play/{uuid}": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Recording"
        ],
        "operationId": "GetRecordingPlayDataByType",
        "parameters": [
          {
            "type": "object",
            "description": "SearchObject parameters",
            "name": "SearchObject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "SearchObject parameters",
              "type": "object",
              "$ref": "#/definitions/SearchCallData"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "ListUsers",
            "schema": {
              "$ref": "#/definitions/ListUsers"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/call/report/dtmf": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns log data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Search"
        ],
        "operationId": "GetTransactionDTMF",
        "parameters": [
          {
            "type": "object",
            "description": "SearchObject parameters",
            "name": "SearchObject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "SearchObject parameters",
              "type": "object",
              "$ref": "#/definitions/SearchObject"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "DTMFResponse",
            "schema": {
              "$ref": "#/definitions/DTMFResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/call/report/log": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns log data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Search"
        ],
        "operationId": "GetTransactionLog",
        "parameters": [
          {
            "type": "object",
            "description": "SearchObject parameters",
            "name": "SearchObject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "SearchObject parameters",
              "type": "object",
              "$ref": "#/definitions/SearchObject"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "LOGResponse",
            "schema": {
              "$ref": "#/definitions/LOGResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/call/report/qos": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns qos data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Search"
        ],
        "operationId": "GetTransactionQos",
        "parameters": [
          {
            "type": "object",
            "description": "SearchObject parameters",
            "name": "SearchObject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "SearchObject parameters",
              "type": "object",
              "$ref": "#/definitions/SearchObject"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "SearchTransactionQos",
            "schema": {
              "$ref": "#/definitions/SearchTransactionQos"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/call/transaction": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Search"
        ],
        "operationId": "GetTransaction",
        "parameters": [
          {
            "type": "object",
            "description": "SearchObject parameters",
            "name": "SearchObject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "SearchObject parameters",
              "type": "object",
              "$ref": "#/definitions/SearchObject"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "SearchTransactionResponse",
            "schema": {
              "$ref": "#/definitions/SearchTransactionResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/clickhouse/query/raw": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Clickhouse"
        ],
        "operationId": "rawSearchData",
        "parameters": [
          {
            "type": "object",
            "description": "ClickhouseObject parameters",
            "name": "ClickhouseObject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "ClickhouseObject parameters",
              "type": "object",
              "$ref": "#/definitions/ClickhouseObject"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "ClickhouseRawQuery",
            "schema": {
              "$ref": "#/definitions/ClickhouseRawQuery"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/configdb/tables/list": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns the list of tables",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin"
        ],
        "operationId": "tablesList",
        "responses": {
          "201": {
            "description": "AdminTables",
            "schema": {
              "$ref": "#/definitions/AdminTables"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/configdb/tables/resync": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns the list of tables",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin"
        ],
        "operationId": "tablesResync",
        "responses": {
          "201": {
            "description": "SuccessResponse",
            "schema": {
              "$ref": "#/definitions/SuccessResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/dashboard/info": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Get Dashbroad list",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Dashboard"
        ],
        "operationId": "ListDashboard",
        "responses": {
          "201": {
            "description": "DashboardElementList",
            "schema": {
              "$ref": "#/definitions/DashboardElementList"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/dashboard/reset": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Get Dashbroad list",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Dashboard"
        ],
        "operationId": "ListDashboard",
        "responses": {
          "201": {
            "description": "SuccessResponse",
            "schema": {
              "$ref": "#/definitions/SuccessResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/dashboard/store/{dashboardId}": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Get Dashboard Against a GUID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Dashboard"
        ],
        "operationId": "GetDashboard",
        "parameters": [
          {
            "type": "string",
            "description": "param of dashboard",
            "name": "Dashboard id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "param of dashboard",
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "DashboardElement",
            "schema": {
              "$ref": "#/definitions/DashboardElement"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Add new dashboard",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Dashboard"
        ],
        "operationId": "UpdateDashboard",
        "parameters": [
          {
            "type": "string",
            "description": "the param of dashboard",
            "name": "dashboardid",
            "in": "path",
            "required": true,
            "schema": {
              "description": "the param of dashboard",
              "type": "string"
            }
          },
          {
            "type": "object",
            "description": "json of dashboard",
            "name": "UserSettings",
            "in": "body",
            "required": true,
            "schema": {
              "description": "json of dashboard",
              "type": "object",
              "$ref": "#/definitions/UserSettings"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "SuccessResponse",
            "schema": {
              "$ref": "#/definitions/SuccessResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Add new dashboard",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Dashboard"
        ],
        "operationId": "CreateDashboard",
        "parameters": [
          {
            "type": "string",
            "description": "the param of dashboard",
            "name": "dashboardid",
            "in": "path",
            "required": true,
            "schema": {
              "description": "the param of dashboard",
              "type": "string"
            }
          },
          {
            "type": "object",
            "description": "json of dashboard",
            "name": "UserSettings",
            "in": "body",
            "required": true,
            "schema": {
              "description": "json of dashboard",
              "type": "object",
              "$ref": "#/definitions/UserSettings"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "SuccessResponse",
            "schema": {
              "$ref": "#/definitions/SuccessResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Delete a dashboard",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Dashboard"
        ],
        "operationId": "DeleteDashboard",
        "parameters": [
          {
            "type": "string",
            "description": "the param of dashboard",
            "name": "param",
            "in": "path",
            "required": true,
            "schema": {
              "description": "the param of dashboard",
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "SuccessResponse",
            "schema": {
              "$ref": "#/definitions/SuccessResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/database/group/list": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns group of nodes from server",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Nodes"
        ],
        "operationId": "GroupListMapping",
        "responses": {
          "201": {
            "description": "NodeList",
            "schema": {
              "$ref": "#/definitions/NodeList"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/database/node/list": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns data from server",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Nodes"
        ],
        "operationId": "NodeListMapping",
        "responses": {
          "201": {
            "description": "NodeList",
            "schema": {
              "$ref": "#/definitions/NodeList"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/database/webnode/list": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns data from server",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Nodes"
        ],
        "operationId": "ListMapping",
        "responses": {
          "201": {
            "description": "SuccessResponse",
            "schema": {
              "$ref": "#/definitions/SuccessResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/export/action/active": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns log data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Export"
        ],
        "operationId": "actionActive",
        "responses": {
          "201": {
            "description": "ExportAction",
            "schema": {
              "$ref": "#/definitions/ExportAction"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/export/action/hepicapp": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns log data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Export"
        ],
        "operationId": "hepicapp",
        "responses": {
          "201": {
            "description": "ExportActionRTPagent",
            "schema": {
              "$ref": "#/definitions/ExportActionRTPagent"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/export/action/logs": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns log data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Export"
        ],
        "operationId": "hepicapplog",
        "responses": {
          "201": {
            "description": "ExportActionRTPagent",
            "schema": {
              "$ref": "#/definitions/ExportActionRTPagent"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/export/action/picserver": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns log data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Export"
        ],
        "operationId": "picserver",
        "responses": {
          "201": {
            "description": "ExportActionRTPagent",
            "schema": {
              "$ref": "#/definitions/ExportActionRTPagent"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/export/action/rtpagent": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns log data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Export"
        ],
        "operationId": "rtpagetn",
        "responses": {
          "201": {
            "description": "ExportActionRTPagent",
            "schema": {
              "$ref": "#/definitions/ExportActionRTPagent"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/export/call/data/pcap": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns pcap data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Export"
        ],
        "operationId": "GetSearchDataAsPcap",
        "parameters": [
          {
            "type": "object",
            "description": "SearchCallExportPCAP parameters",
            "name": "SearchCallExportPCAP",
            "in": "body",
            "required": true,
            "schema": {
              "description": "SearchCallExportPCAP parameters",
              "type": "object",
              "$ref": "#/definitions/SearchCallExportPCAP"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PCAPResponse",
            "schema": {
              "$ref": "#/definitions/PCAPResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/export/call/messages/pcap": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns pcap data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Export"
        ],
        "operationId": "GetMessagesAsPCap",
        "parameters": [
          {
            "type": "object",
            "description": "SearchObjectExportPCAP parameters",
            "name": "SearchObjectExportPCAP",
            "in": "body",
            "required": true,
            "schema": {
              "description": "SearchObjectExportPCAP parameters",
              "type": "object",
              "$ref": "#/definitions/SearchObjectExportPCAP"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PCAPResponse",
            "schema": {
              "$ref": "#/definitions/PCAPResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/export/call/messages/sipp": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns text data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Export"
        ],
        "operationId": "GetMessagesAsSIPP",
        "parameters": [
          {
            "type": "object",
            "description": "SearchObject parameters",
            "name": "SearchObject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "SearchObject parameters",
              "type": "object",
              "$ref": "#/definitions/SearchObject"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "SIPPResponse",
            "schema": {
              "$ref": "#/definitions/SIPPResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/export/call/messages/text": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns text data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Export"
        ],
        "operationId": "GetMessagesAsText",
        "parameters": [
          {
            "type": "object",
            "description": "SearchObject parameters",
            "name": "SearchObject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "SearchObject parameters",
              "type": "object",
              "$ref": "#/definitions/SearchObject"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "TextResponse",
            "schema": {
              "$ref": "#/definitions/TextResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/export/call/stenographer": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns pcap data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Export"
        ],
        "operationId": "GetDataFromStenographer",
        "parameters": [
          {
            "type": "object",
            "description": "SearchObject parameters",
            "name": "SearchObject",
            "in": "body",
            "schema": {
              "description": "SearchObject parameters",
              "type": "object",
              "$ref": "#/definitions/SearchObject"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "StenographerResponse",
            "schema": {
              "$ref": "#/definitions/StenographerResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/export/call/transaction/archive": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Save transaction data to Archive",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Export"
        ],
        "operationId": "saveToArchive",
        "parameters": [
          {
            "type": "object",
            "description": "SearchObject parameters",
            "name": "SearchObject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "SearchObject parameters",
              "type": "object",
              "$ref": "#/definitions/SearchObject"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "ListUsers",
            "schema": {
              "$ref": "#/definitions/ListUsers"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/export/call/transaction/link": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns text data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Export"
        ],
        "operationId": "GetTransactionLink",
        "parameters": [
          {
            "type": "object",
            "description": "SearchObject parameters",
            "name": "SearchObject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "SearchObject parameters",
              "type": "object",
              "$ref": "#/definitions/SearchObject"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "LinkResponse",
            "schema": {
              "$ref": "#/definitions/LinkResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/export/call/transaction/report": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns transaction data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Export"
        ],
        "operationId": "exportCallTransactionReport",
        "parameters": [
          {
            "type": "object",
            "description": "SearchObject parameters",
            "name": "SearchObject",
            "in": "body",
            "schema": {
              "description": "SearchObject parameters",
              "type": "object",
              "$ref": "#/definitions/SearchObject"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "ReportResponse",
            "schema": {
              "$ref": "#/definitions/ReportResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/hepsub/protocol": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Add new Hepsub information",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "HepSub"
        ],
        "operationId": "GetHepSubAgainstUUID",
        "parameters": [
          {
            "type": "object",
            "description": "HepsubSchema parameters",
            "name": "HepsubSchema",
            "in": "body",
            "required": true,
            "schema": {
              "description": "HepsubSchema parameters",
              "type": "object",
              "$ref": "#/definitions/HepsubSchema"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "HepsubSchema",
            "schema": {
              "$ref": "#/definitions/HepsubSchema"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Add new Hepsub information",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "HepSub"
        ],
        "operationId": "AddHepSub",
        "parameters": [
          {
            "type": "object",
            "description": "HepsubSchema parameters",
            "name": "HepsubSchema",
            "in": "body",
            "required": true,
            "schema": {
              "description": "HepsubSchema parameters",
              "type": "object",
              "$ref": "#/definitions/HepsubSchema"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "HepsubCreateSuccessResponse",
            "schema": {
              "$ref": "#/definitions/HepsubCreateSuccessResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/hepsub/protocol/{uuid}": {
      "put": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Delete hepsub by guid",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "HepSub"
        ],
        "operationId": "UpdateHepSubAgainstUUID",
        "parameters": [
          {
            "type": "string",
            "description": "guid of hepsub item",
            "name": "guid",
            "in": "path",
            "required": true,
            "schema": {
              "description": "guid of hepsub item",
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "HepsubUpdateSuccessResponse",
            "schema": {
              "$ref": "#/definitions/HepsubUpdateSuccessResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Delete hepsub by guid",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "HepSub"
        ],
        "operationId": "hepSubDeleteHepSubAgainstUUID",
        "parameters": [
          {
            "type": "string",
            "description": "guid of hepsub item",
            "name": "guid",
            "in": "path",
            "required": true,
            "schema": {
              "description": "guid of hepsub item",
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "HepsubDeleteSuccessResponse",
            "schema": {
              "$ref": "#/definitions/HepsubDeleteSuccessResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/hepsub/search": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns data from server",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "HepSub"
        ],
        "operationId": "AddHepsubsearch",
        "parameters": [
          {
            "type": "object",
            "description": "HepsubSchema parameters",
            "name": "HepsubSchema",
            "in": "body",
            "required": true,
            "schema": {
              "description": "HepsubSchema parameters",
              "type": "object",
              "$ref": "#/definitions/HepsubSchema"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "HepsubCreateSuccessResponse",
            "schema": {
              "$ref": "#/definitions/HepsubCreateSuccessResponse"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/import/data/pcap": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns pcap data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Import"
        ],
        "operationId": "GetMessagesAsPCap",
        "parameters": [
          {
            "type": "object",
            "description": "SearchObject parameters",
            "name": "SearchObject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "SearchObject parameters",
              "type": "object",
              "$ref": "#/definitions/object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "ListUsers",
            "schema": {
              "$ref": "#/definitions/ListUsers"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/import/data/pcap/now": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns pcap data based upon filtered json",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Import"
        ],
        "operationId": "GetMessagesAsPCapNow",
        "parameters": [
          {
            "type": "object",
            "description": "SearchObject parameters",
            "name": "SearchObject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "SearchObject parameters",
              "type": "object",
              "$ref": "#/definitions/object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "ListUsers",
            "schema": {
              "$ref": "#/definitions/ListUsers"
            }
          },
          "400": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/interception/add/rtprecord": {
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns data from server",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Recording"
        ],
        "operationId": "AddRtpRecordFromAgent",
        "responses": {
          "201": {
            "description": "InterceptionsStruct",
            "schema": {
              "$ref": "#/definitions/InterceptionsStruct"
            }
          }
        }
      }
    },
    "/interceptions": {
      "get": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Returns data from server",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Recording"
        ],
        "operationId": "ListInterceptions",
        "responses": {
          "201": {
            "description": "InterceptionsStruct",
            "schema": {
              "$ref": "#/definitions/InterceptionsStruct"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
        "description": "Adds interceptions to system",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Recording"
        ],
        "operationId": "AddInterceptions",
        "parameters": [
          {
            "type": "object",
            "description": "InterceptionsStruct parameters",
            "name": "InterceptionsStruct",
            "in": "body",
            "required": true,
            "schema": {
              "description": "InterceptionsStruct parameters",
              "type": "object",
              "$ref": "#/definitions/InterceptionsStruct"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "UserLoginSuccessResponse",
            "schema": {
              "$ref": "#/definitions/UserLoginSuccessResponse"
            }
          },
          "401": {
            "description": "FailureResponse",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        }
      }
    },
    "/interceptions/{uuid}": {
      "put": {
        "security": [
          {
            "SecurityDefinitions": []
          },
          {
            "JWT": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "name": [
              "Authorization"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "ApiKeyAuth": []
          },
          {
            "type": [
              "apiKey"
            ]
          },
          {
            "in": [
              "header"
            ]
          },
          {
            "name": [
              "Auth-Token"
            ]
          }
        ],
[...]
